body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

.btn {
  box-sizing: border-box;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
}

/* 스크롤 시 애니메이션을 공통 스타일로 추가 */
/* BACK TO POSITION */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-left {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}
.back-to-position.to-right {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #6e0000;
  z-index: 9;
}

header > .inner {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

header > .inner .main-menu {
  position: absolute;
  left: 120px;
  display: flex;
}

header > .inner .main-menu li + li {
  margin-left: 30px;
}
header > .inner .main-menu li > .item__name {
  padding: 20px 10px 26px;
  margin: -10px;
  font-weight: 700;
}
header > .inner .main-menu li:hover > .item__name {
  background-color: #570101e5;
  border-radius: 20px 20px 0 0;
}
header > .inner .main-menu .item {
  display: block;
  position: relative;
  margin: 0 10px;
}

header > .inner .main-menu .item:hover .item__contents {
  display: block;
  margin-top: 29px;
}

header > .inner .main-menu .item .item__contents {
  display: none;
  background-color: #570101e5;
  position: fixed;
  width: 100%;
  left: 0;
  border-top: 1px solid #bbbbbba4;
}

header > .inner .main-menu .item .item__contents .inner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > .inner .main-menu .item .item__contents .inner > li > a {
  padding: 5px;
}
header > .inner .main-menu .item .item__contents .inner > li > a:hover {
  text-decoration: underline;
}

.sub-menu {
  display: flex;
  align-items: center;
}

.sub-menu > ul {
  display: flex;
}

.sub-menu > ul > li > a {
  padding: 10px;
  
}
.sub-menu > ul > li {
  position: relative;
}
.sub-menu > ul > li::before {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sub-menu > ul > li:first-child::before {
  display: none;
}
.sub-menu button.btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
}
.sub-menu button.btn + .btn {
  margin-left: 10px;
}
.search-detail {
  box-sizing: border-box;
  width: 1200px;
  height: 251px;
  padding: 30px 20px;
  position: fixed;
  top: 88px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #ffffff;
  transition: 0.6s;
  opacity: 1;
  border-radius: 0 0 30px 30px;
  z-index: 2;
  border: 2px solid #6e0000;
}
.search-detail.hide {
  top: -320px;
  opacity: 0;
}
.search-detail .btn {
background-color: transparent;
color: #fff;
border: 1px solid #fff;
padding: 5px;
}
.search-detail .search-box {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}
.search-detail .search-box select {
  width: 170px;
  height: 47px;
  font-size: 14px;
}
.search-detail .search-box input {
  width: 878px;
  font-size: 20px;
}
.search-detail .search-box .material-icons {
  font-size: 46px;
  padding: 0 20px 0 0;
  color: #000;
}
.search-detail .menu-bad,
.search-detail .menu-bon {
  display: flex;
  margin: 30px 0 20px;
  align-items: center;
}
.search-detail h4 {
  font-size: 18px;
  font-weight: 700;
}
.search-detail .menu-bad ul {
  display: flex;
  margin-left: 55px;
}
.search-detail .menu-bon ul {
  display: flex;
  margin-left: 40px;
}
.search-detail ul li + li {
  margin-left: 30px;
}

.search-detail .menu-bad li a {
  padding: 5px 20px;
  background-color: #f5f4f2;
  border-radius: 20px;
  color: #000;
  font-size: 16px;
}
.search-detail .menu-bon li a {
  padding: 2px;
  border-radius: 20px;
  color: #666;
  font-size: 16px;
}

section.totalGnb {
  position: relative;
  z-index: 9;
  position: fixed;
  top: -1000px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 0.3s;
}

.totalGnb .totalGnb-group {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -1000px;
  opacity: 0;
}
.totalGnb.activeBtn {
  opacity: 1;
  top: 0;
}
.totalGnb .totalGnb-group.activeInner {
  top: -50px;
  opacity: 1;
  transition: 
  opacity cubic-bezier(1,-0.08,.23,1.07) 1.3s,
  top cubic-bezier(.05,1.1,.3,1) 1s;
}
.totalGnb .inner {
  display: flex;
  justify-content: space-between;
}
.totalGnb .a-box {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  width: 198px;
}
.totalGnb .a-box h4 {
  font-size: 24px;
  height: 60px;
  border-bottom: 2px solid #6e0000;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
}
.totalGnb .a-box ul li {
  height: 40px;
}
.totalGnb .a-box ul li a {
  font-size: 15px;
  padding: 5px 20px 3px 0;
}
.totalGnb .a-box ul li a:hover {
  text-decoration: underline;
}
.totalGnb .totalGnbBtn-close {
  position: absolute;
  top: 20px;
  right: 351px;
  background-color: #6e0000;
  width: 50px;
  height: 50px;
}
.totalGnb .totalGnbBtn-close .material-icons {
  color: #fff;
  font-size: 36px;
}


.visual {
  width: 100%;
  margin-top: 90px;
  height: 730px;
  display: flex;
  justify-content: center;
  position: relative;
}

.visual .swiper-slide .btn {
  width: 200px;
  position: absolute;
  bottom: 60px;
  left: 460px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #6e0000;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  transition: 0.4s;
}
.visual .swiper-slide .btn:hover {
  background-color: #570101;
}
.visual .swiper-pagination {
  position: absolute;
  bottom: 20px;
  z-index: 1;
}
.visual .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #6e0000;
}
.visual .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
}
.visual .swiper-button-prev,
.visual .swiper-button-next {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 350px;
  transition: 0.4s;
  color: #0000007c;
  padding: 30px 0;
  z-index: 1;
}
.visual .swiper-button-prev span,
.visual .swiper-button-next span {
  font-size: 50px;
}
.visual .swiper-button-prev {
  left: 50%;
  margin-left: -600px;
}
.visual .swiper-button-next {
  right: 50%;
  margin-right: -600px;
}
.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover {
  color: #000;
}
.visual .swiper-button-prev::after,
.visual .swiper-button-next::after {
  display: none;
}




.order {
  width: 100%;
  position: relative;
}
.order .btn-group > ul {
  display: flex;
}
.order .btn-group > ul > li > a {
  display: flex;
  height: 84px;
  width: 400px;
  background-color: #6e0000;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  border-left: 1px solid #d9d9d956;
  box-sizing: border-box;
}
.order .btn-group ul li a span:nth-child(2) {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 400;
  margin-left: -30px;
}

.main-contents .inner {
  padding: 120px 0 30px 0;
}

.main-contents .inner .main-box:first-child {
  padding-bottom: 60px;
}
.main-contents .inner .main-box + .main-box {
  padding: 60px 0;
  border-top: 1px solid #d9d9d9;
}

.main-contents .inner .main-box .bon-name {
  display: flex;
  justify-content: space-between;
}
.main-contents .inner .main-box .bon-name .detail{
  display: flex;
  align-items: end;
}
.main-contents .inner .main-box .bon-name .detail span:first-child {
  border-bottom: 2px solid #6e0000;
  padding-bottom: 5px;
  padding-right: 15px;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 700;
  color: #6e0000;
}
.main-contents .inner .main-box .bon-name .detail span:nth-child(2) {
  color: #000000;
  font-size: 18px;
  border-bottom: 2px solid #6e0000;
  padding-bottom: 5px;
  margin-bottom: 10px;

}
.main-contents .inner .main-box .bon-name a {
  background-color: #6e0000;
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 22px;
  margin-bottom: 5px;
}
.main-contents .inner .main-box .img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-contents .inner .main-box .img > a > span {
  color: #000;
  font-size: 17px;
}
.main-contents .inner .main-box .img > a .won {
  color: #6e0000;
  font-weight: 700;
}

.toriPaitan {
  background-image: url('../images/main/img_21.jpg');
  height: 630px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.toriPaitan .inner .text-group .bon-name{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.toriPaitan .inner .text-group .bon-name .detail {
  margin-top: 22px;
  border-bottom: 2px solid #6e0000;
  padding-bottom: 5px;
  padding-right: 15px;
  color: #fff;
}
.toriPaitan .inner .text-group .bon-name .detail span:first-child {
  font-size: 38px;
  font-weight: 700;
}
.toriPaitan .inner .text-group .bon-name .detail span:last-child {
  font-size: 18px;
  margin-left: 20px;
}
.toriPaitan .inner .text-group .bon-name a {
  background-color: #6e0000;
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 22px;
}
.toriPaitan .inner .text-group img {
  position: absolute;
  left: 50px;
  top: 150px;
  height: 450px;
}
.toriPaitan .inner .text-group .text-area {
  position: absolute;
  right: 0;
  top: 240px;
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}
.toriPaitan .inner .text-group .text-area p:first-child {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.toriPaitan .inner .text-group .text-area p:first-child span {
  color: #6e0000;
}

.youtube {
  /* padding-top: 100px; */
  position: relative;
  height: 900px;
  background-image: url('../images/main/img_23.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.youtube .text-area {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50px;
}
.youtube .text-area h4 {
  font-size: 48px;
}
.youtube .text-area p {
  color: #87af0f;
  font-style: italic;
  font-family: 'Noto Serif Display', serif;
  font-size: 20px;
}

.youtube .youtube__area {
  width: 960px;
  height: 540px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 150px;
}
#player {
  width: 100%;
  height: 100%;
}
.youtube .text-area-2 {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 70px;
  font-weight: 600;
}
.youtube .text-area-2 h4 {
  font-size: 28px;
  padding-bottom: 20px;
}
.youtube .text-area-2 p {
  line-height: 25px;
}

.youtube .text-area-2 a {
  padding: 15px 20px;
  background-color: #87af0f;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 130px;
  bottom: -57px;
  font-weight: 700;
  transition: 0.4s;
}
.youtube .text-area-2 a:hover {
  background-color: #58720b;
}

.youtube .youtube__cover {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 150px;
  width: 960px;
  height: 540px;
  background-color: rgba(0, 0, 0, 0);
}

.vision {
  height: 280px;
  background-image: url('../images/main/img_27.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.vision .inner .vision-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.vision .inner .vision-text > p {
  padding-top: 100px;
  font-style: italic;
  font-family: 'Noto Serif Display', serif;
  font-size: 20px;
}
.vision .inner .vision-text > h4 {
  font-size: 48px;
}
.vision .inner .vision-text .vision-textbox {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #87af0f;
  width: 330px;
  padding: 15px;
  bottom: -170px;
  line-height: 20px;
}
.vision .inner .vision-text .vision-textbox span {
  font-weight: 700;
}

.news {
  background-color: #f4f4f4;
}
.news .inner {
  padding: 150px 0 50px 0;
}
.news .inner .news-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.news .inner .news-text > p {
  font-style: italic;
  font-family: 'Noto Serif Display', serif;
  color: #6e0000;
  font-size: 20px;
}
.news .inner .news-text > h4 {
  font-size: 48px;
}

.news .inner .news-box {
  display: flex;
  justify-content: space-between;
}
.news .inner .news-box .box {
  width: 276px;
  height: 200px;
  background-color: #fff;
  position: relative;
}
.news .inner .news-box .box .box-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 25px 20px 0 20px;
}
.news .inner .news-box .box .box-header h4:first-child {
  font-size: 24px;
  font-weight: 500;
}
.news .inner .news-box .box .box-header > a {
  background-color: #6e0000;
  border-radius: 10px;
  padding: 2px 7px;
  font-size: 14px;
}

.news .inner .news-box .box .box-text {
  padding: 30px 20px 0 20px;
  font-size: 20px;
}
.news .inner .news-box .box span {
  font-size: 14px;
  display: block;
  position: absolute;
  bottom: 20px;
}
.news .inner .news-box .box div::before {
  content: "";
  display: block;
  width: 276px;
  height: 2px;
  background-color: #f4f4f4;
  position: absolute;
  top: 57px;
  left: 0;
}
.news .inner .news-box .box .box-text a {
  background-color: #6e0000;
  font-size: 14px;
  padding: 3px 9px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.banner {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}
.banner .inner {
  display: flex;
}
.banner .flowbox {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.banner .flow {
  display: flex;
  width: 4500px;
  flex-wrap: nowrap;
  animation: bannermove 20s linear infinite;
}
.banner .flow a img {
  opacity: 0.7;
}
.banner .flow a img:hover {
  opacity: 1;
}
.banner .flow a + a {
  margin-left: 80px;
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

footer {
  background-color: #222;
  color: #999;
  position: relative;
  font-size: 14px;
  padding-bottom: 80px;
}
footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 48px;
  width: 100%;
  border-bottom: 1px solid #999;
}
footer .inner {
  position: relative;
}
footer .f-top {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
}
footer .f-top div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .f-top div span:first-child + span:nth-child(2) {
  margin-left: 5px;
}
footer .f-top div span:nth-child(2) + span:last-child {
  margin-left: 25px;
}
footer .f-top div span:last-child {
  color: #fff;
}
footer .f-top div span::before {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background-color: #999;
  position: absolute;
  left: 100px;
  top: 6px;
}
footer .f-top div:last-child span::before {
  display: none;
}
footer .f-top div + div {
  margin-left: 50px;
}

footer .f-top .family {
  width: 265px;
  height: 48px;
  position: absolute;
  right: 0;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
footer .f-top .family a {
  width: 100%;
  height: 100%;
  color: #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
footer .f-top .family a span:last-child {
  color: #fff;
}

footer .f-btm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .f-btm .f-btm-a {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 20px;
}

footer .f-btm .f-btm-a a img {
  width: 50px;
  opacity: 0.5;
}
footer .f-btm .f-btm-a a img:hover {
  opacity: 1;
}
footer .f-btm .menu {
  margin-bottom: 15px;
}
footer .f-btm .menu ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
footer .f-btm .menu ul li a {
  color: #999;
}
footer .f-btm .menu ul li:nth-child(3) a {
  color: #fff;
}
footer .f-btm .menu ul li a:hover {
  text-decoration: underline;
}
footer .info {
  margin-bottom: 10px;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #FFF;
  color: #6e0000;
  border: 2px solid #6e0000;
  border-radius: 20px 20px 0 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  z-index: 5;
  right: 20px;
  opacity: 0;
}
#to-top:hover {
  background-color: #6e0000;
  color: #fff;
  border: 2px solid #6e0000;
}

#quick {
  width: 70px;
  height: 531px;
  position: fixed;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 0;
  background-color: #222;
  z-index: 5;
}

#quick nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
#quick nav li + li {
  border-top: 1px solid #999;
}
#quick nav li a {
  width: 70px;
  height: 75px;
  color: #999;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
}
#quick nav li a:hover {
  color: #fff;
  background-color: #6e0000;
}
#quick nav li a:hover span {
  transform: scale(1.5);
}
#quick nav li a span {
  margin: 10px 0;
}
