body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

.btn {
  box-sizing: border-box;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
}

/* 스크롤 시 애니메이션을 공통 스타일로 추가 */
/* BACK TO POSITION */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-left {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}
.back-to-position.to-right {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #6e0000e5;
}

header > .inner {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

header > .inner .main-menu {
  position: absolute;
  left: 120px;
  display: flex;
  /* bottom: 20px; */
}

header > .inner .main-menu li + li {
  margin-left: 30px;
}
header > .inner .main-menu li > .item__name {
  padding: 20px 10px 26px;
  margin: -10px;
  font-weight: 700;
}
header > .inner .main-menu li:hover > .item__name {
  background-color: #570101e5;
  border-radius: 20px 20px 0 0;
}
header > .inner .main-menu .item {
  display: block;
  position: relative;
  margin: 0 10px;
}

header > .inner .main-menu .item:hover .item__contents {
  display: block;
  margin-top: 29px;
}

header > .inner .main-menu .item .item__contents {
  display: none;
  background-color: #570101e5;
  position: fixed;
  width: 100%;
  left: 0;
  border-top: 1px solid #bbbbbba4;
}

header > .inner .main-menu .item .item__contents .inner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > .inner .main-menu .item .item__contents .inner > li > a {
  padding: 5px;
}
header > .inner .main-menu .item .item__contents .inner > li > a:hover {
  text-decoration: underline;
}

.sub-menu {
  display: flex;
  align-items: center;
}

.sub-menu > ul {
  display: flex;
}

.sub-menu > ul > li > a {
  padding: 10px;
  
}
.sub-menu > ul > li {
  position: relative;
}
.sub-menu > ul > li::before {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sub-menu > ul > li:first-child::before {
  display: none;
}
.sub-menu button.btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
}
.sub-menu button.btn + .btn{
  margin-left: 10px;
}

.visual {
  width: 100%;
  margin-top: 90px;
  height: 730px;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.5;
}

.visual .swiper-slide .btn {
  width: 200px;
  position: absolute;
  bottom: 60px;
  left: 460px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #6e0000;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  transition: 0.4s;
}
.visual .swiper-slide .btn:hover {
  background-color: #570101;
}
.visual .swiper-pagination {
  position: absolute;
  bottom: 20px;
}
.visual .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #6e0000;
}
.visual .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
}
.visual .swiper-button-prev,
.visual .swiper-button-next {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 350px;
  transition: 0.4s;
  color: #0000007c;
  padding: 30px 0;
}
.visual .swiper-button-prev span,
.visual .swiper-button-next span {
  font-size: 50px;
}
.visual .swiper-button-prev {
  left: 50%;
  margin-left: -600px;
}
.visual .swiper-button-next {
  right: 50%;
  margin-right: -600px;
}
.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover {
  color: #000;
}
.visual .swiper-button-prev::after,
.visual .swiper-button-next::after {
  display: none;
}




.order {
  width: 100%;
  position: relative;
}
.order .btn-group > ul {
  display: flex;
}
.order .btn-group > ul > li > a {
  display: flex;
  height: 84px;
  width: 400px;
  background-color: #6e0000;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  border-left: 1px solid #d9d9d956;
  box-sizing: border-box;
}
.order .btn-group ul li a span:nth-child(2) {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 400;
  margin-left: -30px;
}

.main-contents .inner {
  padding: 120px 0 30px 0;
}

.main-contents .inner .main-box:first-child {
  padding-bottom: 60px;
}
.main-contents .inner .main-box + .main-box {
  padding: 60px 0;
  border-top: 1px solid #d9d9d9;
}

.main-contents .inner .main-box .bon-name {
  display: flex;
  justify-content: space-between;
}
.main-contents .inner .main-box .bon-name .detail{
  display: flex;
  align-items: end;
}
.main-contents .inner .main-box .bon-name .detail span:first-child {
  border-bottom: 2px solid #6e0000;
  padding-bottom: 5px;
  padding-right: 15px;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 700;
  color: #6e0000;
}
.main-contents .inner .main-box .bon-name .detail span:nth-child(2) {
  color: #000000;
  font-size: 18px;
  border-bottom: 2px solid #6e0000;
  padding-bottom: 5px;
  margin-bottom: 10px;

}
.main-contents .inner .main-box .bon-name a {
  background-color: #6e0000;
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 22px;
  margin-bottom: 5px;
}
.main-contents .inner .main-box .img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-contents .inner .main-box .img > a > span {
  color: #000;
  font-size: 17px;
}
.main-contents .inner .main-box .img > a .won {
  color: #6e0000;
  font-weight: 700;
}

.toriPaitan {
  background-image: url('../images/main/img_21.jpg');
  height: 630px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.toriPaitan .inner .text-group .bon-name{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.toriPaitan .inner .text-group .bon-name .detail {
  margin-top: 22px;
  border-bottom: 2px solid #6e0000;
  padding-bottom: 5px;
  padding-right: 15px;
  color: #fff;
}
.toriPaitan .inner .text-group .bon-name .detail span:first-child {
  font-size: 38px;
  font-weight: 700;
}
.toriPaitan .inner .text-group .bon-name .detail span:last-child {
  font-size: 18px;
  margin-left: 20px;
}
.toriPaitan .inner .text-group .bon-name a {
  background-color: #6e0000;
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 22px;
}
.toriPaitan .inner .text-group img {
  position: absolute;
  left: 50px;
  top: 150px;
  height: 450px;
}
.toriPaitan .inner .text-group .text-area {
  position: absolute;
  right: 0;
  top: 240px;
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}
.toriPaitan .inner .text-group .text-area p:first-child {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.toriPaitan .inner .text-group .text-area p:first-child span {
  color: #6e0000;
}

.youtube {
  /* padding-top: 100px; */
  position: relative;
  height: 900px;
  background-image: url('../images/main/img_23.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.youtube .text-area {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50px;
}
.youtube .text-area h4 {
  margin-top: 10px;
  font-size: 34px;
  font-weight: 700;
}
.youtube .text-area p {
  color: #87af0f;
  font-style: italic;
  font-family: 'Noto Serif Display', serif;
}

.youtube .youtube__area {
  width: 960px;
  height: 540px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 150px;
}
#player {
  width: 100%;
  height: 100%;
}
.youtube .text-area-2 {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 70px;
  font-weight: 600;
}
.youtube .text-area-2 h4 {
  font-size: 28px;
  padding-bottom: 20px;
}
.youtube .text-area-2 p {
  line-height: 25px;
}

.youtube .text-area-2 a {
  padding: 15px 20px;
  background-color: #87af0f;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 130px;
  bottom: -57px;
  font-weight: 700;
  transition: 0.4s;
}
.youtube .text-area-2 a:hover {
  background-color: #58720b;
}

.youtube .youtube__cover {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 150px;
  width: 960px;
  height: 540px;
  background-color: rgba(0, 0, 0, 0);
}

.vision {
  height: 280px;
  background-image: url('../images/main/img_27.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.vision .inner .vision-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.vision .inner .vision-text > p {
  padding-top: 100px;
  font-style: italic;
  font-family: 'Noto Serif Display', serif;
}
.vision .inner .vision-text > h4 {
  font-size: 34px;
  font-weight: 700;
}
.vision .inner .vision-text .vision-textbox {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #87af0f;
  width: 330px;
  padding: 15px;
  bottom: -170px;
  line-height: 20px;
}
.vision .inner .vision-text .vision-textbox span {
  font-weight: 700;
}

.news {
  background-color: #f4f4f4;
}
.news .inner {
  padding: 150px;
}
.news .inner .news-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news .inner .news-text > p {
  font-style: italic;
  font-family: 'Noto Serif Display', serif;
  color: #6e0000;
}
.news .inner .news-text > h4 {
  font-size: 34px;
  font-weight: 700;
}
